<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Free Bootstrap Admin Template : Binary Admin</title>
<!-- BOOTSTRAP STYLES-->
<link href="assets/css/bootstrap.css" rel="stylesheet" />
<!-- FONTAWESOME STYLES-->
<link href="assets/css/font-awesome.css" rel="stylesheet" />
<!-- CUSTOM STYLES-->
<link href="assets/css/custom.css" rel="stylesheet" />
<!-- GOOGLE FONTS-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans'
	rel='stylesheet' type='text/css' />
</head>
<body>
	<div id="wrapper">
		<nav th:replace="fragments/navi :: top_nav_bar"></nav>
		<!-- /. NAV TOP  -->
		<nav th:replace="fragments/navi :: navi"></nav>
		<!-- /. NAV SIDE  -->
		<div id="page-wrapper">
			<div id="page-inner">
				<div class="row">
					<div class="col-md-12">
						<h2>Blank Page</h2>
						<h5>Welcome Jhon Deo , Love to see you back.</h5>

					</div>
				</div>
				<!-- /. ROW  -->
				<hr />
<div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <form name="login" th:action="@{/login}" method="post" id="login" >
            
            <div class="control-group">
            	<div class="form-group floating-label-form-group controls">
            		<div th:if="${param.error}">
            			
            		</div>
            	</div>
            </div>
            
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Email</label>
                <input type="email" name="email" class="form-control" placeholder="Email Address" id="email" />
                <p class="help-block text-danger"></p>
              </div>
            </div>
            
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Hasło</label>
                <input type="password" name="pass" class="form-control" placeholder="Password" id="pass" />
                <p class="help-block text-danger"></p>
              </div>
            </div>
            
            <br/>
            <div id="success"></div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary" id="loginButton">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>



			</div>
			<!-- /. PAGE INNER  -->
		</div>
		<!-- /. PAGE WRAPPER  -->
	</div>
	<!-- /. WRAPPER  -->
	<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
	<!-- JQUERY SCRIPTS -->
	<script src="assets/js/jquery-1.10.2.js"></script>
	<!-- BOOTSTRAP SCRIPTS -->
	<script src="assets/js/bootstrap.min.js"></script>
	<!-- METISMENU SCRIPTS -->
	<script src="assets/js/jquery.metisMenu.js"></script>
	<!-- CUSTOM SCRIPTS -->
	<script src="assets/js/custom.js"></script>


</body>
</html>
