<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Lista Produktów</title>
</head>
<body>
<head th:replace="navi/header :: navigation" />

	<h2>Informacje o produktach</h2>
	
	<table>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Opis</th>
			<th>Cena</th>
			
		</tr>
		<tr th:each="product : ${products}">
			<td th:text="${product.id}"/>
			<td th:text="${product.name}"/>
			<td th:text="${product.description}"/>
			<td th:text="${product.price}"/>
			
		</tr>
	</table>

</body>
</html>