<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Rejestracja</title>
</head>
<body>
<head th:replace="navi/header :: navigation" />
	<h2>Panel</h2>

	<!-- Page Header -->
	<header class="masthead"
		style="background-image: url('../img/post-bg.jpg')">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-10 mx-auto">
					<div class="post-heading">
						<h1>Configuration</h1>
					</div>
				</div>
			</div>
		</div>
	</header>
	
	
	<!--<div class="container">
		<form th:action="@{/panel}" method="post" th:object="${filter}">
			<div class="form-group">
				Name:<input type="text" th:field="*{name}" placeholder="Name" />
				Last name:<input type="text" th:field="*{lastName}"
					placeholder="Name" /> Mail:<input type="text" th:field="*{email}"
					placeholder="Name" /> <br /> <br />
				<button type="submit" class="btn btn-primary">Search</button>
			</div>
		</form>
		<br /> <br />-->


		<div th:if="${#lists.isEmpty(products)}">Empty list Users!</div>
		<div th:if="${not #lists.isEmpty(products)}">
			<table class="table table-striped">
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Description</th>
					<th>Price</th>
		
				</tr>
				<tr th:each="product : ${products}">
					<td th:text="${product.id}"></td>
					<td th:text="${product.name}"></td>
					<td th:text="${product.description}"></td>
					<td th:text="${user.price}"></td>
					<td><a th:href="${'/moderator/edit/'+product.id}">Edit</a></td>
					<td><a th:href="${'/moderator/delete/'+product.id}">Delete</a></td>
				</tr>
			</table>



	<form th:action="@{/moderator/edit}" method="post" th:object="${product}">
	
					<input type="hidden" th:field="*{id}" />
							<label>Nazwa Produktu</label> <input type="name"
								th:field="*{name}" class="form-control"
								placeholder="Nazwa Produktu" id="name" />
								
								
							<label>Opis</label> <input type="description"
								th:field="*{description}" class="form-control"
								placeholder="Opis Produktu" id="description" />
								
								
								
							<label>Cena Produktu</label> <input type="price"
								th:field="*{price}" class="form-control"
								placeholder="Cena Produktu" id="price" />
					

					
						<button type="submit" class="btn btn-primary" id="saveButton">Save</button>
				

				</form>
	
	
	
	
	
	
	
	
	
	
	
	
		</div>



</body>
</html>